<div class="container">
  <app-side-bar (showManagersEvent)="toggleManagers()" (showUnlocksEvent)="toggleUnlocks()" (showUpgradesEvent)="toggleUpgrades()" (showInvestorsEvent)="toggleInvestors()">
</app-side-bar>
  <div class="main_content">
    <div class="home" style="background-image: url('assets/images/home.jpg');"></div>
    <!-- Affichage du monde de l'utilisateur -->
   <!-- Affichage du monde de l'utilisateur -->
<div class="world-display">
  <p>Bienvenue dans le monde : {{ username }}</p>
</div>
    <!-- Header avec organisation de l'input -->
    <div class="header">
      <div class="money_display">
        $ {{ world.money | number:'1.0-0' }}
      </div>

      <!-- Zone de l'input pour username -->
     <!-- Input pour changer le nom d'utilisateur -->
      <div class="username_input">
        <input type="text" [(ngModel)]="username" (change)="saveUsername()" placeholder="Enter your username" />
      </div>

      <!-- Contrôles d'achat avec multiplier -->
      <div class="buy_controls">
        <div class="buy_icon" (click)="onMultiplierChange()">
          <span>{{ multiplierLabel }}</span>
        </div>
      </div>
    </div>
    
    <div *ngIf="showManagers" class="manager-popup">
      <app-manager 
        [worldd]="world" 
        (productUpdated)="onProductUpdated($event)"
        (closeModal)="toggleManagers()">
      </app-manager>
    </div>
    <!-- Fenêtre des Unlocks -->
    <div *ngIf="showUnlocks" class="unlocks-popup">
      <app-unlocks [worldd]="world" (close)="showUnlocks = false"></app-unlocks>
    </div>  
    <!-- Fenêtre des Upgrades -->
    <div *ngIf="showUpgrades" class="upgrades-popup">
      <app-upgrades [worldd]="world" (close)="showUpgrades = false"></app-upgrades>
    </div>
      <!-- Fenêtre des Investors -->
      <div *ngIf="showInvestors" class="investors-popup">
        <app-investors [worldd]="world" (close)="showInvestors = false"></app-investors>
      </div>
    <!-- Grille de produits -->
    <div class="products_container" *ngIf="world?.products">
      <div class="products_grid">
        <div class="product_column" *ngFor="let column of [0,1]">
          <app-product *ngFor="let product of world.products.slice(column*3, (column+1)*3)"
            [multiplier]="multiplier"
            [product]="product" 
            [world]="world"
            (notifyProduction)="onProductionDone($event)" 
            (onBuy)="onBuy($event)">
          </app-product>
        </div>
      </div>
    </div>
  </div>
</div>