<div class="investors-container">
    <div class="header">
      <h2>Angel Investors</h2>
      <button class="close-btn" (click)="closeModal()">✖</button>
    </div>
  
    <div class="description">
      <p><em>Putting the 'Holy' back in "Holy smokes! Look at those profits!"</em></p>
      <p>The more money you earn, the more Angel Investors you can attract!</p>
    </div>
  
    <div class="investors-info">
      <div class="total-angels">
        <h3>Total Angels</h3>
        <p>{{ world.totalangels }}</p>
      </div>
  
      <div class="bonus-per-angel">
        <h3>Bonus Per Angel</h3>
        <p>2% <span class="bonus">+{{ world.angelbonus }}% Bonus!</span></p>
      </div>
  
      <div class="angels-to-claim">
        <h3>Angels to Claim</h3>
        <p>{{ calcAngelToClaim() }}</p>
      </div>
    </div>
  
    <button class="claim-btn" (click)="resetWorld()">Claim Angel Investors</button>
  </div>
  