<div class="managers_page">
    <div class="page_header">
      <div class="title">
        <h5>ANGEL INVESTORS</h5>
      </div>
      <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close">
        <img class="close-btn-img" src="assets/close-btn.jpeg">
      </button>
    </div>
    <div class="description">
      <em>Holy smokes look at those profits!</em>
      <p>The more money you gain, the more Angel investors you attract!
        <br>these blokes increase profits and unlock new upgrades. </p>
    </div>
    <div class="investors_content">
      <div class="Investors_count"> Total Angels <span>{{ world.activeangels }}</span></div>
      <div class="investor_action">
        <div class="Investors_bonus">Bonus per Angel <span> x{{ world.angelbonus }} Profit</span></div>
        <div class="Investors_active">Angels to claim <span>{{ calcAngelToClaim() }}</span></div>
      </div>
      <div class="claim_btn" (click)="resetWorld()">
        <button type="button" class="btn" >Claim Angels !</button>
      </div>
    </div>
  </div>