<div *ngIf="_product.quantite > 0; else noProduct">
  <div class="product_container">
    <div class="product_image">
      <img [src]="server + _product.logo" alt="logo" (click)="startFabrication()">
      <div class="quantity">{{ _product.quantite }}</div>
    </div>
    
    <div class="product_info">
      <app-progressbar
        class="progressbar-container"
        [initialValue]="initialValue" 
        [vitesse]="_product.vitesse" 
        [orientation]="orientation" 
        [auto]="false" 
        [run]="run"
        [frontcolor]="'#8E44AD'" 
        [backcolor]="'#2C3E50'">
      </app-progressbar>
      
      <div class="purchase_section">
        <button class="purchase_button" (click)="buyProduct()">
          <span>Acheter&nbsp;</span> {{ _product.cout | number:'1.2-2' }}
        </button>
        <div class="timer">{{ _product.timeleft | number:'1.2-2' }}</div>
      </div>
    </div>
  </div>
</div>

<ng-template #noProduct>
  <div class="product_empty" (click)="buyProduct()">
    <div class="empty_icon">
      <img src="assets/images/image.png" alt="Produit inconnu">
    </div>
    <div class="empty_details">
      <span class="empty_name">{{ _product.name || "Produit inconnu" }}</span><br>
      <span class="empty_price">{{ _product.cout | number:'1.2-2' }} $</span>
    </div>
  </div>
</ng-template>